<p id="notice"><%= notice %></p>
<div class="columns">
  <div class="column is-one-third is-offset-one-third">
    <br>
    <div class="box">
      <article class="media">
        <div class="media-content">
          <div class="content">
            <p>
              <p class="title is-four"><%=@event.title%></p>
              <p>Description: <%=@event.description%></p>
              <p>Location: <%=@event.location%></p>
              <p>Start Time: <%=@event.starts_time%></p>
              <% unless @event.creator.nil?%>
                <p>Host: <%=@event.creator.name%></p>
              <%end%>
              <% if user_signed_in? && @event.creator == current_user%>
                <%=link_to "Edit", edit_event_path, class:"button"%>
                <%=link_to "Delete", event_path, method: :delete, class:"button"%>
              <% end %>

            </p>
          </div>
        </div>
      </article>
    </div>
      <div class="title is-four">Attendees</div>
          <% @event.attendees.each do |attendee| %>
            <li><%=attendee.name%><li>
          <%end%>
  </div>
</div>
